* {
    margin: 0;
}
.box{
    background-color: rgb(16, 94, 104);
    color: white;
    padding: 12px;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    border-right: solid 1px black;
    flex: 1 1 auto;
}

.box:hover {
    background-color: rgb(25, 44, 43);
    cursor: pointer;
}

.box:active {
    background-color: rgb(63, 109, 107);
}

.flex-container{
    display: flex;
}

.flex-container{
    display: flex;
    justify-content: center
}

.box3{
    background-color: rgb(0, 0, 0);
    align-self: center;
}